 <style>
        body {
            font-family: sans-serif;
            padding: 20px;
            line-height: 1.5;
            color: #333;
        }

        h1 {
            color: #FF5733;
            font-size: 55px;
            margin-bottom: 10px;
        }

        h2 {
            color: #33FF57;
            font-size: 40px;
            margin-top: 30px;
        }

        h3 {
            color: #3357FF;
            font-size: 25px;
            margin-top: 20px;
        }

        p {
            color: #555;
            font-size: 16px;
            margin-bottom: 20px;
            text-align: justify;
        }

        .destaque-secao {
            background-color: #eee;
            padding: 5px;
            display: inline-block;
        }
    </style>